* {
  user-select: none;
}

body {
  background-color: #4c1140;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  background-color: #4c1140;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.box2 {
  position: absolute;
  height: 65vh;
  max-width: 200px;
  overflow: hidden;
  background-color: #310b1f;
  box-shadow:  #310b1fd8 9px 9px 10px;
  margin: 5px 20px 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s cubic-bezier(.2, 0, .001, 1); 
  padding: calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw);  
}


.box3 {
  z-index: 100;
  overflow: hidden;
  right: 0;
  transform: translateX(130%);
  position: absolute;
  height: 90vh;
  width: 20em;
  background-color: #310b1f;
  box-shadow:  #310b1fd8 9px 9px 10px;
  margin: 5px 20px 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s cubic-bezier(.2, 0, .001, 1); 
  padding: calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw);  
}

.box2 {
  left: 0;
  transform: translateX(-130%);
}

.box2.visible {
  left: 0; 
  transform: translateX(0);
}

.box3.visible {
  right: 0; 
  transform: translateX(0);
}

#toggleButton {
  padding: calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw) calc(30px + 2vw);
  position: absolute;
  left: -10px;
  bottom: 5vh;
  width: fit-content;
  background-color: #310b1f;
  box-shadow: #310b22ad 6px 6px 10px;
  border-radius: 10px;
}


#navbar {
  padding: calc(3px + .5vw) calc(30px + 2vw) calc(3px + .5vw) calc(3px + .5vw);
  position: absolute;
  right: -10px;
  top: 5vh;
  width: fit-content;
  background-color: #310b1f;
  box-shadow: #310b22ad 6px 6px 10px;
  border-radius: 10px;
  z-index: 10000;
}


#navtri  {
  position: relative;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  color: #FECD17;
  font-size: calc(18px + .1vw);
  transition: transform 1s cubic-bezier(.2, 0, .001, 1); 
}

#navtri.rotate {
  transform: rotate(180deg);
}


#tri  {
  position: relative;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  color: #FECD17;
  font-size: calc(18px + .1vw);
  transition: transform 1s cubic-bezier(.2, 0, .001, 1); 
}

#tri.rotate {
  transform: rotate(180deg);
}

.spect {
  height: 10px;
  width: 100%;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: calc(10px + .1vw);
  line-height: 150%;
  color: #a8cd23;
  margin: auto 0 auto 0;
  text-align: center;
}

.navtitle {
  padding: calc(3px + .5vw) 0px calc(3px + .5vw) calc(3px + .5vw);  
  user-select: none;
  font-family: "Press Start 2P", cursive;
  font-size: calc(30px + .2vw);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 
  #310b22 0px 0px 2px;  
  background-color: #a8cd23;
  margin: auto 10px 0 10px;
  bottom: 0;
}

.btn {
  padding: calc(8px + .5vw) 0 calc(3.5px + .5vw) 0;
  user-select: none;
  font-family: "Press Start 2P", cursive;
  font-size: calc(20px + .2vw);
  color: #a8cd23;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}
.aSyle {
  font-family: "Press Start 2P", cursive;
  font-size: calc(20px + .2vw);
  color: #a8cd23;
  text-align: center;
  text-decoration: none;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}

.btn:hover::before {
  border-right-color: #a8cd23;
}

.btn:nth-child(1) {
  margin-top: auto;
}


.changingBruh {
  padding: calc(3px + .5vw) 0px calc(3px + .5vw) calc(3px + .5vw);  
  user-select: none;
  width: fit-content;
  height: fit-content;
  font-family: "Press Start 2P", cursive;
  font-size: calc(30px + .2vw);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 
  #4c1140 0px 0px 5px;  
  background-color: #a8cd23;
  margin: auto 10px 0 10px;
  transition-duration: 190ms;
  animation: bruhoverthetime 7s infinite;
}

@keyframes bruhoverthetime {

  0% {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 
    #4c1140 0px 0px 5px;  
    background-color: #a8cd23;
  }
10% {
  color: #a8cd23;
}


  45% {
    color: #a8cd23;
    text-shadow: black 0.6px 0.6px 1.2px, #a8cd23 1.2px 1.2px 1.2px, black 3.6px 3.6px 1.2px, #a8cd23 4.8px 4.8px 1.2px, black 6px 6px 1.2px, #a8cd23 7.2px 7.2px 1.2px;
    background-color: transparent;
  }

  70% {
    color: #a8cd23;
  }
}

.box {
  background-color: #4c1140;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: fit-content;
  margin: 0 auto;
}

#logo {
  padding: calc(30px + 1.6vw);
  user-select: none;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  font-size: calc(30px + 4vw);
  color: #a8cd23;
  box-shadow:  inset 
  #310b22 12px 12px 10px,  
  #310b22 12px 12px 10px;
  border-radius: 1%;
  transition-duration: 250ms;
}

#logo:hover {
  transition-duration: 190ms;
  transform: scale(1.04);
  text-shadow: black 1px 1px 2px, #a8cd23 2px 2px 2px, black 6px 6px 2px, #a8cd23 8px 8px 2px, black 10px 10px 2px,
    #a8cd23 12px 12px 2px;
}

/*
    #61BB46 0 0 0 7px, 
    #FDB827 0 0 0 12px, 
    #F5821F 0 0 0 17px, 
    #E03A3E 0 0 0 22px, 
    #963D97 0 0 0 27px, 
    #009DDC 0 0 0 32px;
*/

#logo:active {
  box-shadow: inset #2c0a23 0 0 500px 500px, #2c0a23 12px 12px 10px;
}

/* Top link */
#secret {
  color: #a8cd23;
  font-family: "Press Start 2P", cursive;
  width: auto;
  font-size: 10px;
  max-block-size: 40px;
  position: absolute;
  top: 10px;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

/* top left stuff */
.shittingground {
  position: absolute;
  top: 0;
  left: 0;
}

.shitpic {
  height: 10px;
  width: auto;
  transition-duration: 200ms;
}

.shitpic:hover {
  height: 50px;
  width: auto;
}

/* random stuff */
.cuphead {
  position: fixed;
  user-select: none;
  bottom: 0;
  right: 0;
  height: calc(50px + 1vw);
  width: auto;
}

.cupboi {
  position: fixed;
  user-select: none;
  bottom: 10px;
  left: 5px;
  height: calc(25px + 1vw);
  width: auto;
}

#secret:hover {
  transition: 120ms;
  text-shadow: #a8cd23 2px 2px 4px, black 3px 3px 2px;
  transform: skew(20deg, 0deg);
}

/* footer */
footer {
  align-items: center;
  justify-content: center;
  width: 120px;
  bottom: 5px;
  margin-top: auto;
  margin-bottom: 10px; 
  position: absolute;
}
footer,
 .sec {
  user-select: none;
  font-family: "Press Start 2P", cursive;
  color: #a8cd23;
  font-size: 10px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition-duration: 100ms;
}

.sec {
  opacity: 0.5;
}

.tal,
.abban {
  height: 40px;
  width: 40px;
  opacity: 1 !important;
}

.tal:hover,
.abban:hover {
  filter: brightness(1.5);
}

.sec:hover {
  opacity: 1;
}

.sec:active {
  text-shadow: #a8cd23 12em 0 2px, #a8cd23 -12em 0 2px, #a8cd23 0 -4em 2px;
  font-size: px;
}


#ref {
  user-select: none;
  font-family: "Press Start 2P", cursive;
  color: #a8cd23;
  font-size: 10px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
  transition-duration: 100ms;
  margin-bottom: -5px;
}

#ref {
  opacity: 0.5;
}

#ref:hover {
  opacity: 1;
}

#ref:active {
  text-shadow: #a8cd23a4 12em 0 2px, #a8cd23a4 -12em 0 2px, #a8cd23a4 0 -2em 2px, #a8cd23a4 0 2em 2px;
  font-size: px;
}

.abbandiv {
  width: 100%;
}

.talsig {
  width: 100%;
}

@media only screen and (max-width: 600px) {}