body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  background-color: #4c1130;
}

#logo {
  height: 80vh;
  user-select: none;
  display: flex;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: calc(47px + 3.6vw);
  color: #a8cd23;
  transition-duration: 250ms;
  transform: translateX(36px); /* centered relative to text excluding the "." */
}

#logo:hover {
  transition-duration: 190ms;
  text-shadow: black 1px 1px 2px, #a8cd23 2px 2px 2px, black 6px 6px 2px, #a8cd23 8px 8px 2px, black 10px 10px 2px,
    #a8cd23 12px 12px 2px;
}
/* shut up its the same has :hover im trying somehere */
#logo:active {
  text-shadow: black 1px 1px 1px, #a8cd23 2px 2px 1px, black 5px 5px 2px, #a8cd23 8px 8px 2px, black 10px 10px 3px,
    #a8cd23 12px 12px 2px, #a8cd23 0 0 150px;
  filter: brightness(1.3);
}

/* The text placeholders css */
#col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#col div {
  width: 25%;
  padding: 12px;
  margin: 12px 0;
  color: #a8cd23;
  border: #e13514 6px ridge;
}

/* Top link */
#secret {
  font-family: "Press Start 2P", cursive;
  color: #a8cd23;
  width: auto;
  font-size: 10px;
  max-block-size: 40px;
  position: absolute;
  top: 10px;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

/* top left stuff */
.shittingground {
  position: absolute;
  top: 0;
  left: 0;
}

.shitpic {
  height: 10px;
  width: auto;
  transition-duration: 200ms;
}

.shitpic:hover {
  height: 50px;
  width: auto;
}

/* random stuff */
.cuphead {
  position: fixed;
  user-select: none;
  bottom: 0;
  right: 0;
  height: calc(50px + 1vw);
  width: auto;
}

.cupboi {
  position: fixed;
  user-select: none;
  bottom: 10px;
  left: 5px;
  height: calc(25px + 1vw);
  width: auto;
}

#secret:hover {
  transition: 120ms;
  text-shadow: #a8cd23 2px 2px 4px, black 3px 3px 2px;
  transform: skew(20deg, 0deg);
}

/* footer */
footer {
  align-items: center;
  justify-content: center;
}
footer,
p {
  user-select: none;
  font-family: "Press Start 2P", cursive;
  color: #a8cd23;
  width: 120px;
  margin: auto;
  font-size: 10px;
  bottom: 5px;
  margin: auto;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition-duration: 100ms;
}

p {
  opacity: 0.5;
  margin-bottom: -10px;
}
.tal,
.abban {
  height: 40px;
  width: 40px;
  opacity: 1 !important;
}

.tal:hover,
.abban:hover {
  filter: brightness(1.5);
}

p:hover {
  opacity: 1;
}

p:active {
  text-shadow: #a8cd23 12em 0 2px, #a8cd23 -12em 0 2px, #a8cd23 0 -4em 2px;
  font-size: 9px;
}
