@font-face {
    font-family: "Hubot Sans";
    src: url("../fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
      url("../fonts/Hubot-Sans.woff2") format("woff2-variations");
    font-weight: 600 100;
    font-stretch: 75% 125%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
  ::-webkit-scrollbar{
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #310b1f;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a8cd23af;
  }
  
  /* * Main html styles */
  :root {
    --smooth-anim: cubic-bezier(0.2, 0, 0.001, 1);
    --green: #a8cd23;
    --dark-green: #a8cd23af;
  }

#nav-list {
    z-index: 100;
    overflow: hidden;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -170%) rotateY(100deg) rotateX(00deg);
    height: 90vh;
    width: 60%;
    background-color: #310b1fd2;
    box-shadow:  #00000067 0px 0px 12px 7px;
    border-radius: calc(7.5px + .1vw);
    border: #310b1f .12em solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 1s cubic-bezier(.2, 0, .001, 1); 
    padding: calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw) calc(3px + .5vw); 
    -moz-backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

#nav-list.visible {
    inset: 50%;
    transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
    transition: transform 1s cubic-bezier(.2, 0, .001, 1);

}

#nav-list h1 {
    padding: calc(3px + 0.5vw) 0px calc(3px + 0.5vw) calc(3px + 0.5vw);
    user-select: none;
    font-family: "Press Start 2P", cursive;
    font-size: calc(30px + 0.2vw);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: #310b22 0px 0px .2rem;
    background-color: var(--green);
    margin: auto 10px 0 10px;
    bottom: 0;
    animation: pulse 1.3s infinite;
    z-index: 1000000;
    font-weight: lighter;

}

nav {
    padding: calc(30px + 0.5vw) calc(5px + 0.25vw) calc(5px + 0.25vw) calc(5px + 0.25vw);
    position: absolute;
    right: 5vw;
    top: -10px;
    width: fit-content;
    background-color: #310b1f;
    box-shadow: #310b22ad 6px 6px 10px;
    border-radius: calc(5px + 0.1vw);
    z-index: 10000;
}

nav h2 {
    font-family: "Press Start 2P", cursive;
    color: var(--green);
    font-size: calc(7px + 0.4vw);
    text-shadow: #fecc1794 1px 1px 3px;
    margin: 0;
    font-weight: lighter;
}

#arrow {
    position: relative;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    color: #fecd17;
    font-size: calc(18px + 0.4vw);
    transition: transform 1s var(--smooth-anim);
    font-weight: lighter;
    width: fit-content;
}
#arrow:hover {
    text-shadow: #fecd17 0 0 10px;
    scale: 1.01;
}
#arrow:active {
    text-shadow: #fecd17 0 0 15px;
    scale: 0.98;
}
#arrow.rotate {
    transform: rotateX(-180deg);    
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    #nav-list {
      width: 90%;
      height: 69vh;
      transform: translate(-50%, -200%) rotateY(100deg) rotateX(0deg);
    }
  
    #nav-list.visible {
      transform: translate(-50%, -50%) rotateY(00deg) rotateX(0deg);
    }
  }

  .btn {
    padding: calc(8px + 0.5vw) calc(30px + 0.5vw) calc(3.5px + 0.5vw);
    user-select: none;
    font-family: "Press Start 2P", cursive;
    font-size: calc(20px + 0.2vw);
    color: #fecd17;
    text-shadow: .1em .1em .2em black;
    width: 90%;
    margin: 10px 0 10px 0;
  
  }
  .btn a {
    font-family: "Press Start 2P", cursive;
    font-size: calc(20px + 0.2vw);
    text-align: left;
    text-decoration: none;
    color: #fecd17;
  }
  .btn:nth-child(1) {
    margin-top: auto;
  }
  
  .btn a:hover {
    text-decoration: underline;
  }
  
  .btn a:active {
    text-shadow: .1em .1em .2em black, #fecc1794 0 0 .5em;
  }

  .navigate {
    position: absolute;
    top: 0;
    left: 0;
    color: #FECD17;
    margin: 1em;
    font-family: "Press Start 2P", cursive;
    font-size: calc(.3em + .7vw);
  }
  
  .navigate a {
    color: #FECD17;
    text-shadow: .15em .15em .1em black;
    text-decoration: none;
  }
  
  .navigate a:hover {
    text-decoration: underline;
  }
  
  .navigate a:active {
    text-shadow: .1em .1em .2em black, #fecc1794 0 0 .5em;
  }
  


  #logo {
    padding: .5em;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-radius: .2em;
    font-family: "Press Start 2P", cursive;
    font-size: calc(2.5em + 4vw);
    color: var(--green);
    transition-duration: 250ms;
    border: none;
    text-shadow: black 1.5px 1.5px 1px, black 3px 3px 1px, #a8cd23 5px 5px 1px, black 7px 7px 1px, #a8cd23 9px 9px 1px, black 11px 11px 1px, #a8cd23 13px 13px 1px, rgba(0, 0, 0, 0.399) 13px 13px 10px, rgba(0, 0, 0, 0.399) 0px 0px 20px;
  }
  
  #logo::after {
    text-shadow: black 0.75px 0.75px 0.5px, black 1.5px 1.5px 0.5px, #a8cd23 2.5px 2.5px 0.5px, black 3.5px 3.5px 0.5px, #a8cd23 4.5px 4.5px 0.5px, black 5.5px 5.5px 0.5px, #a8cd23 6.5px 6.5px 0.5px, black 6.5px 6.5px 5px, black 0px 0px 10px;
    color: var(--green);
    position: absolute;
  }
/*   

LEGACY BRUH CORP LOGO

  #logo {
    padding: calc(30px + 1.6vw);
    user-select: none;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", cursive;
    font-size: calc(30px + 4vw);
    color: #a8cd23;
    box-shadow:  inset 
    #310b22 12px 12px 10px,  
    #310b22 12px 12px 10px;
    border-radius: calc(7.5px + .1vw);
    transition-duration: 250ms;
    margin: 30vh 0 20vh 0;
    text-align: center;
  }
  
  #logo:hover {
    transition-duration: 190ms;
    transform: scale(1.04);
    text-shadow: black 1px 1px 2px, #a8cd23 2px 2px 2px, black 6px 6px 2px, #a8cd23 8px 8px 2px, black 10px 10px 2px,
      #a8cd23 12px 12px 2px;
  }
   */